@()(implicit request: RequestHeader)

@main("Spinify Profile"){
    <input type="hidden" id="csrf-token" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="user-data-route" value="@routes.Profile.getUserData()">
    <input type="hidden" id="collections-route" value="@routes.Profile.loadCollections()">
    <input type="hidden" id="get-collection-route" value="@routes.Profile.getCollection("")">
    <input type="hidden" id="remove-route" value="@routes.Profile.removeRecord()">
    <input type="hidden" id="play-svg" value="@routes.Assets.versioned("images/play.svg")">
    <div id="root"></div>
    <script src="@routes.Assets.versioned("javascript/profile.js")"></script>
}