/* header, aside, body*/

:root{
    --header-color: #da7635;
    --header-button-color: #e24e1b;
    --background-color: #f5f2b8;
    --primary-color: #8aadcd;
    --secondary-color: #28587b;
    --secondary-color-hover: #8aafff;
}

header{
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: black;
    background: var(--header-color); 
    width: calc(100% - 40px);
    height: 85.37px;

}

header h1{
    font-size: 3rem;
    position: relative;
    top: -25px;
}

header button {
    position:absolute;
    top: calc(125.37px / 2 - 37.5px / 2);
    right:60px;
    background: var(--header-button-color);
    border:none;
    border-radius: 4px;
    padding: 10px;
    font-family:serif;
    font-size: 15px;
    
}

header button:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
  
}

.title {
    cursor: pointer;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: var(--background-color);
    overflow: hidden;
}

.login-page-container{
    display: flex;
    justify-content: center;
}

.login-page {
    text-align: center;
    background-color: var(--primary-color);
    width: 40%;
    border-radius: 10px;
    border: solid var(--secondary-color);
    margin-top: 20px;
    padding-bottom: 20px;
}

.login-page button {
    color:white;
    margin-top: 10px;
    background-color: var(--secondary-color);
    border: solid var(--secondary-color);
    border-radius: 5px;
}

.login-page button:hover {
    color: black;
    cursor: pointer;
    background-color: var(--secondary-color-hover);
}


aside {
    background-color: var(--primary-color);
    width: 25%;
    height: 100vh;
}

.adder, .profile-card{
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 0 0 10px 10px;
    border: solid var(--secondary-color);
    height: 161.67px;
    font-family: sans-serif;
}

.adder p {
    font-size: 50px;
    height: 100%;
}

.adder p:hover {
    cursor:pointer;
}

.adder-form {
    height:100%;
}

.adder-form label{
    margin-top: 10px;
}

.adder-form button {
    color:black;
    margin-top: 10px;
    background-color: var(--primary-color);
    border: solid var(--primary-color);
    border-radius: 5px;
}

.adder-form button:hover{
    cursor: pointer;
}

.adder-form button:active{
    box-shadow: inset 1px 1px 1px black;
}

.records,.collections {
    height: calc(100vh - 125.37px - 161.67px);
    overflow-y: scroll;
}

.records p, .collections p{
    padding:5px;
    font-family: sans-serif;
}

.records h3, .collections h3{
    text-align: center;
    text-decoration: underline;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: .3rem solid black;
}

.collections {
    text-align: center;
}

.sidebar-record:hover, .sidebar-collection:hover{
    cursor: pointer;
}

.sidebar-record::before, .sidebar-collection::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid black;
    width: 100%;
}

.sidebar-record:first-of-type::before, .sidebar-collection:first-of-type::before{
    visibility: hidden;
}

.current-song {
    width: 50%;
    position:absolute;
    top: 10px;
    left: calc(25%);
    text-align: center;
}

.record,.collection-records {
    position: absolute;
    top: 125.37px;
    right: 0;
    height: calc(100vh - 125.37px);
    width: 75%;
}

.record {
    display: grid;
    justify-content: center;
}

.record img{
    height: 30%;
    position: relative;
    top: 20px;
}

.record img:hover{
    cursor: pointer;
}

.spin-animation{
    animation: spin 5000ms infinite linear;
    animation-play-state: paused;
}

.active {
    animation-play-state: running !important;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.like {
    position: absolute;
    top: 135.37px;
    right: 10px;
    height: 10%;
}

.like:hover{
    cursor: pointer;
}

.collection-records {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.collection-record{
    text-align: center;
    width: 25%;
    height: 100px;
    border: solid var(--header-button-color);
    border-radius: 10px;
    background-color: var(--header-color);
    display: grid;
}

.x-button{
    font-family: 'Courier New', Courier, monospace;
    height: 1rem;
    width: fit-content;
    text-align: end;
    margin:0 5px 0 0;
    justify-self: end;
    z-index: 100px;
    font-size: 1rem;
}

.x-button:hover,.play-button:hover{
    cursor: pointer;
}

.x-button:hover{
    color:white;
}

.play-button{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--header-button-color);
    border: none;
    border-radius: 0 0 5px 5px;
}

.play-button img {
    height: 20px;
}

.collection-record-name {
    margin-top: 5px;
    margin-bottom: 0;
}

.collection-record-username{
    margin:0;
}

.plus-button{
    position: absolute;
    top: 145.37px;
    left: calc(25% + 10px);
    height: 7%;
}

.plus-button:hover{
    cursor: pointer;
}